* {
    margin: 0;
    box-sizing: border-box;
}
.users-box{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    row-gap: 20px;
}
.user-block{
    width: 50%;
    height: auto;
}
